#ignores output from builds

#manually ignoring build dirs, 
docs/windup-core-development-guide/build/
docs/windup-core-development-guide/html/
docs/windup-core-development-guide/pdf/
docs/windup-rules-development-guide/build/
docs/windup-rules-development-guide/html/
docs/windup-rules-development-guide/pdf/
docs/windup-user-guide/build/
docs/windup-user-guide/html/
docs/windup-user-guide/pdf/

